@using ChessOnline.Client.Services
@inherits LayoutComponentBase
@inject SidebarService Sidebar

<div class="main-container">
	<header>
		<TopBar />
	</header>
	<div class="content-wrapper">
		@if (Sidebar.isVisible)
		{
			<div class="sidebar-absolute">
				<NavSidebar />
			</div>
		}
		<main class="main-article">
			@Body
		</main>
	</div>
	<footer class="main-footer">
		Strona testowa
	</footer>
</div>

@code {
	protected override void OnInitialized()
	{
		Sidebar.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		Sidebar.OnChange -= StateHasChanged;
	}
}