@using ChessOnline.Client.Services
@inherits LayoutComponentBase
@inject SidebarService Sidebar
@inject NavigationManager NavMen

<div class="main-container">
	<header>
		<TopBar />
	</header>
	<div class="content-wrapper">
		@if (Sidebar.isVisible)
		{
			<div class="sidebar-absolute">
				<NavSidebar />
			</div>
		}
		<main class="main-article @GetPageName()">
			@Body
		</main>
	</div>
	<footer class="main-footer">
		Strona testowa
	</footer>
</div>

@code {
	protected override void OnInitialized()
	{
		Sidebar.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		Sidebar.OnChange -= StateHasChanged;
	}

	private string GetPageName()
	{
		var uri = NavMen.ToBaseRelativePath(NavMen.Uri).ToLower();
		Console.WriteLine($"Current URI: {uri}"); // Debugging line

		var authPages = new[] { "login", "register" };

		foreach (var page in authPages)
		{
			if (uri.StartsWith(page))
			{
				return "auth-page";
			}
		}

		return "";
	}
}