<div class="main-container">
	<h2>To jest pasek boczny</h2>
	<a>
		Wybierz:
		<dl>
			<dt><NavLink href="game-archiwe">Archiwum partii</NavLink></dt>
			<dt><NavLink href="masters-list">Lista mistrzów</NavLink></dt>
			<dt><NavLink href="history-board">Plansza</NavLink></dt>
		</dl>
	</a>
</div>
