@using ChessOnline.Client.Services
@inject SidebarService Sidebar

<div class="bar">
	<div>
		<button class="button-topbar" @onclick="Sidebar.ToggleSidebar">≡</button>
		<a href="/">
			<img src="/images/LogoWithBackground.png" alt="logo" class="logo-image" />
		</a>
	</div>
	<div class="buttons-div">
		<NavLink class="button-topbar" href="login"> Zaloguj/Zarejestruj się </NavLink>
		<NavLink class="button-topbar" href="logout"> Wyloguj się </NavLink>
	</div>
</div>