@page "/register"
@using System.Net.Http.Json
@inject HttpClient Http


<h3>Register</h3>
@*TODO: Make CSS*@
<EditForm Model="@registerModel" OnValidSubmit="@HandleRegistration">

	<div> @*TODO: In one row*@
		<input type="text" placeholder="Imie" @bind-value="registerModel.FirstName" />
		<input type="text" placeholder="Nazwisko" @bind-value="registerModel.LastName" />
	</div>

	<input type="text" placeholder="Nick" @bind-value="registerModel.UserName" />
	<input type="date" placeholder="Data urodzenia" @bind-value="registerModel.Birthday" />
	<input type="email" placeholder="E-mail" @bind-value="registerModel.Email" />
	<input type="password" placeholder="Hasło" @bind-value="registerModel.Password" />

	@*TODO: Download and write from backend*@
	<select id="country" required @bind="registerModel.Country">
		<option disabled selected>Country</option>
		<option value="PL">Polska</option>
		<option value="UK">United Kingdom</option>
		<option value="DE">Deutchland</option>
	</select>
	<button type="submit">Zarejestruj się</button>
</EditForm>

@*TODO: POPUP*@
@if (!string.IsNullOrEmpty(errorMessage))
{
	<div class="error-message">@errorMessage</div>
}
else if (!string.IsNullOrEmpty(successMessage))
{
	<div class="success-message">@successMessage</div>
}

@code {
	RegisterDto registerModel = new RegisterDto();

	private string? errorMessage;
	private string? successMessage;

	private async Task HandleRegistration()
	{
		errorMessage = null;
		successMessage = null;

		var response = await Http.PostAsJsonAsync("api/auth/register", registerModel);

		if (response.IsSuccessStatusCode)
		{
			successMessage = "Rejestracja zakończona sukcesem!";
			registerModel = new RegisterDto();
		}
		else
		{
			errorMessage = await response.Content.ReadAsStringAsync();
		}
	}

	public class RegisterDto
	{
		public string FirstName { get; set; } = string.Empty;
		public string LastName { get; set; } = string.Empty;
		public string UserName { get; set; } = string.Empty;
		public DateTime Birthday { get; set; }
		public string Email { get; set; } = string.Empty;
		public string Password { get; set; } = string.Empty;
		public string Country { get; set; } = string.Empty;
	}
}
