@page "/register"

<h3>Register</h3>
@*TODO: Make CSS*@
<EditForm Model="@registerModel" OnValidSubmit="@HandleRegistration">

	<div> @*TODO: In one row*@
		<input type="text" placeholder="Imie" @bind-value="registerModel.name" />
		<input type="text" placeholder="Nazwisko" @bind-value="registerModel.surname" />
	</div>

	<input type="text" placeholder="Nick" @bind-value="registerModel.nick" />
	<input type="date" placeholder="Data urodzenia" @bind-value="registerModel.birthday" />
	<input type="email" placeholder="E-mail" @bind-value="registerModel.email" />
	<input type="password" placeholder="Hasło" @bind-value="registerModel.password" />

	@*TODO: Download and write from backend*@
	<select id="country" required>
		<option disabled selected>Country</option>
		<option value="PL">Polska</option>
		<option value="UK">United Kingdom</option>
		<option value="DE">Deutchland</option>
	</select>
	<button type="submit">Zarejestruj się</button>
</EditForm>

@code {
	RegisterDto registerModel = new RegisterDto();

	void HandleRegistration()
	{
		//TODO
		Console.WriteLine($"{registerModel.nick}");
	}


	public class RegisterDto
	{
		public string name { get; set; } = string.Empty;
		public string surname { get; set; } = string.Empty;
		public string nick { get; set; } = string.Empty;
		public DateTime birthday { get; set; }
		public string email { get; set; } = string.Empty;
		public string password { get; set; } = string.Empty;
	}
}
